

%h1{style: "text-align: center;"} The World's Best Free MBTI Test v0.1
.row{style: "text-align: center;"}
	= link_to "Take the test", questions_path, class: "btn btn-info"
	%br
	%br
	- if signed_in?
		= link_to "Sign Out", destroy_user_session_path, method: "delete"
	- else
		= link_to "Sign Up", new_user_registration_path, class: "btn btn-default"
		= link_to "Sign In", new_user_session_path, class: "btn btn-default"


#Questions{ "ng-controller"=> "QuestionsCtrl" }
	#questions-list-container
		%ul
			%li{ "ng-repeat"=> "question in questions"}
				%p Question: {{question.title}}
				%p Type: {{question.type}}